# this is an example for the global yala configuration file $HOME/.yala/config

# UPDATE_MODE, one of [force ask never]
# default: force
UPDATE_MODE="ask"

# MD5, the 'remote' location of the 'md5' file
# default: https://raw.githubusercontent.com/aogburn/yala/main/md5
# MD5="file:///home/user/work/git/yala/md5"

# REMOTE_YALA_SH, the remote location for the yala.sh represented by the MD5
# default: https://raw.githubusercontent.com/aogburn/yala/main/yala.sh
# REMOTE_YALA_SH="file:///home/user/work/git/yala/yala.sh"

# TAR_MD5, the 'remote' location of the 'tarmd5' file
# default: https://raw.githubusercontent.com/aogburn/yala/main/tarmd5
# TAR_MD5="file:///home/user/work/git/yala/tarmd5"

# REMOTE_YALA_ERRORS, the 'remote' location of the 'yala-errors.tar.xz' file
# default: https://raw.githubusercontent.com/aogburn/yala/main/yala-errors.tar.x
# REMOTE_YALA_ERRORS="file:///home/user/work/git/yalayala-errors.tar.xz"
